<div class="top-header">
    <div class="top-logo float-right"><img src="images/logo.png"/></div>
    <div class="log-out float-left"><a id="logout" href="/logout">تسجيل الخروج</a></div>
</div>
<header id="sidemenu">
    <div class="user-details">
        <h1><span class='user-icon'><i class="far fa-user"></i></span><%= name %></h1>
        <span>- <%= role %></span>
    </div>
    <div class="user-menu">
        <ul>
            <% for (const menuItem of menu) { %>
                <li <% if(location === menuItem.target){ %> class='active'<% } %>><a href="/<%= menuItem.target %>"><%= menuItem.title %><span class="menu-icon float-left"><i class="<%= menuItem.iconClass %>"></i></span></a></li>
            <% } %>
        </ul>
    </div>
</header>
